# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
logo: "/assets/images/streamcardano-logo.png"
title: StreamCardano project
email: streamcardano@migamake.com
description: > # this means to ignore newlines until "baseurl:"
  Streamlines Cardano dApp Development
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://streamcardano.github.io" # the base hostname & protocol for your site
twitter_username: migamake
github_username:  migamake
gitlab_username:  migamake
repository:       streamcardano/streamcardano.github.io

# Outputting
permalink: /:categories/:year/:month/:day/:title

# Build settings
markdown: kramdown
exclude:
  - "README.md"
  - "vendor"

plugins:
  - jekyll-gist
  - jekyll-spaceship
  - jekyll-sitemap
  #- jekyll-paginate
  - jekyll-feed
  - jekyll-responsive-image

remote_theme: pages-themes/hacker@v0.2.0
#remote_theme:  Wiredcraft/carte
#remote_theme: just-the-docs/just-the-docs
#remote_theme: tomjoht/documentation-theme-jekyll
#remote_theme: karloespiritu/BlackDoc

jekyll-spaceship:
  # default enabled processors
  processors:
    - table-processor
    - mathjax-processor
    - plantuml-processor
    - mermaid-processor
    - polyfill-processor
    - element-processor
html_proofer:
  check_favicon: true
  check_html: true
  file_ignore:
    - /a.*regexp*/
    - a_string

  include:
  - _pages

# links to channels
discord: https://discord.gg/HMcMAJb9
keybase: https://keybase.io/team/migamakeusers
telegram: https://t.me/streamcardano
gitlab: https://gitlab.com/migamake
github: https://github.com/migamake
facebook: https://www.facebook.com/migamakecom
twitter: https://twitter.com/migamake
linkedin: https://www.linkedin.com/company/migamake/about/
calendly: https://calendly.com/mjgajda/mchat

# footer pages
terms: /terms
privacy: /privacy

# Collections
collections:
  demo:
    output: true
    permalink: /demo/:path/
  pages:
    output: true
    permalink: /:pages/:path/


# Responsive images
responsive_image:
  # Path to the image template.
  template: _includes/responsive-image.html

  # Quality to use when resizing images.
  default_quality: 90

  # An array of resize configuration objects. Each object must contain at least
  # a `width` value.
  sizes:
    - width: 20 
      quality: 10
    - width: 480  
      quality: 80 
    - width: 800
      quality: 90
    - width: 1400
      quality: 90

  # working with JPGs directly from digital cameras and smartphones
  auto_rotate: false

  # `dirname` value in `output_path_format` below.
  base_path: assets/images

  # Parameters available are:
  #   %{dirname}     Directory of the file relative to `base_path` (assets/sub/dir/some-file.jpg => sub/dir)
  #   %{basename}    Basename of the file (assets/some-file.jpg => some-file.jpg)
  #   %{filename}    Basename without the extension (assets/some-file.jpg => some-file)
  #   %{extension}   Extension of the file (assets/some-file.jpg => jpg)
  #   %{width}       Width of the resized image
  #   %{height}      Height of the resized image
  #
  output_path_format: assets/images/resized/%{width}/%{basename}

  # Whether or not to save the generated assets into the source folder.
  save_to_source: false

  # tags. See the "Caching" section of the README for more information.
  cache: false

  # images. This is useful for resizing images which will be referenced from stylesheets.
  extra_images:
    - assets/foo/bar.png
    - assets/bgs/*.png
    - assets/avatars/*.{jpeg,jpg}


