
<footer class="footer-section navbar-fixed-bottom">
	<div class="container">
	
		<div class="col-xs-12 col-sm-4 col-md-4 copyright pL0">
			<p><a target="_blank" href="https://www.migamake.com"><img width="40" src="/assets/images/migamake-logo-white.png"/></a> © 2022 Migamake Pte Ltd. All rights reserved </p>
		</div>
		
		<div class="col-xs-12 col-sm-4 col-md-4 ftr-social">
			<ul>
				<li><a href="{{ site.discord }}" target="_blank"><img src="{{ site.baseurl }}/assets/images/discord.png"/></a></li>
				<li><a href="{{ site.keybase }}" target="_blank"><img src="{{ site.baseurl }}/assets/images/keybase.png"/></a></li>
				<li><a href="{{ site.telegram }}" target="_blank"><img src="{{ site.baseurl }}/assets/images/telegram.png"/></a></li>
                <li><a href="{{ site.calendly }}"><img src="{{ site.baseurl }}/assets/images/calendly.png"/></a></li>
                <li><a href="mailto:{{ site.email }}"><img src="{{ site.baseurl }}/assets/images/email.png"/></a></li>
			</ul>
		</div>
		
		<div class="col-xs-12 col-sm-4 col-md-4 ftr-menu pR0">
			<ul>
				{% if site.terms %}
				<li><a href="{{ site.terms }}">Terms & conditions</a></li>
				{% endif %}
				{% if site.privacy %}
				<li class="ml"><a href="{{ site.privacy }}">Privacy policy</a></li>
				{% endif %}
			</ul>
		</div>
		
	</div>
</footer>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
