<footer class="footer mt-auto py-3 footer-section">
  <div class="container">
    <div class="row">      
      <div class="col-xs-12 col-sm-6 copyright pL0">
        <p>© Copyright. SearChain All Rights Reserved | Migamake Pte Ltd.</p>
      </div>
		
      <div class="col-xs-12 col-sm-6 ftr-menu pR0">
        <ul>
          <li><a href="#">Terms & Condition</a></li>
          <li><a>|</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      
    </div>
    


  </div>
</footer>




<footer class="site-footer d-none">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="">
        <ul class="contact-list">
          {% if site.gitlab_username %}
          <li>
            <a href="https://github.com/{{ site.gitlab_username }}" class="fa-github-alt square fill-horizontal"><span class="screen-reader-text">GitHub</span></a></li>
            {% endif %}
          {% if site.catalyst %}
          <li><a  href="{{ site.catalyst }}">Catalyst</a></li>
          {% endif %}
          {% if site.discord_channel %}
            <li><a  href="{{ site.discord_channel }}">Discord</a></li>            
          {% endif %}
          {% if site.keybase_channel %}
            <li><a  href="{{ site.keybase_channel }}">Keybase</a></li>            
          {% endif %}
          {% if site.telegram_channel %}
            <li><a  href="{{ site.telegram_channel }}">Telegram</a></li>            
          {% endif %}
        </ul>
      </div>
<!-- 
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.gitlab_username %}
          <li>
            {% include icon-gitlab.html username=site.gitlab_username %}
          </li>
          {% endif %}

          {% if site.gitlab_username %}
          <li>
            {% include icon-github.html username=site.gitlab_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div> -->

      <!-- <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div> -->
    </div>

    <div class="footer-col-wrapper copyright">
      &copy; Copyright by <a target="_blank" href="https://www.migamake.com">Migamake Pte Ltd</a>
    </div>

  </div>

</footer>
