<head>
    <meta charset="utf-8">
    <meta name="title" content="{{ site.title }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ site.title }}</title>

    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/tailwind.css" >
    <link rel="icon" href="/assets/images/favicon/favicon-light.png?light" media="(prefers-color-scheme:no-preference)">
    <link rel="icon" href="/assets/images/favicon/favicon-dark.png?dark"  media="(prefers-color-scheme:dark)">
    <link rel="icon" href="/assets/images/favicon/favicon-light.png?light" media="(prefers-color-scheme:light)">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <script src="{{ '/assets/js/lazysizes.min.js'| absolute_url }}"></script>
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->	
</head>
