<header class="header-section">
	<nav class="navbar">
	  <div class="container">
		
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#"><img src="assets/images/searchain-logo.jpg"/></a>
		</div>

		
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav navbar-left">
			<li><a href="#"><i class="ico-home"></i>Home</a></li>
		  </ul>
		  
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="#"><i class="ico-news"></i>News</a></li>
			<li><a href="#"><i class="ico-exm"></i>Examples</a></li>
			<li><a href="#"><i class="ico-doc"></i>Docs</a></li>
			<li class="btn-brdr"><a href="#">Login</a></li>
			<li class="btn-fill"><a href="#">Signup</a></li>
			
		  </ul>
		</div>
	  </div>
	</nav>
</header>