
html, body{ height:100%; }
.pL0{padding-left:0;}
.pR0{padding-right:0;}
.header-section{float:left; width:100%;}
.navbar{ background-color: transparent; border-width: 11px 0px 0px 0px; border-color: #109949; border-radius: 0; padding-top: 10px; }
.navbar-brand { height: auto; padding: 0; }
.navbar-nav{margin-top: 35px;}
.navbar-left{margin-left:15px;}
.navbar li{margin:0 20px;}
.navbar li a{font-family: 'Roboto', sans-serif; font-style: normal; font-weight: 700; font-size: 13px; line-height: 15px; text-transform: uppercase; color: #000000; padding: 6px 0px;}
.nav>li>a:hover { text-decoration: none; background-color: transparent;}
.ico-home{background-image: url(../images/home.png); background-repeat: no-repeat; width: 19px; height: 18px; display: inline-block; margin-right: 10px; position: relative; top: 2px;}
.ico-news{background-image: url(../images/news.png); background-repeat: no-repeat; width: 20px; height: 20px; display: inline-block; margin-right: 10px; position: relative; top: 6px;}
.ico-exm{background-image: url(../images/exmpl.png); background-repeat: no-repeat; width: 19px; height: 18px; display: inline-block; margin-right: 10px; position: relative; top: 6px;}
.ico-doc{background-image: url(../images/doc.png); background-repeat: no-repeat; width: 19px; height: 19px; display: inline-block; margin-right: 10px; position: relative; top: 6px;}
.btn-brdr{font-weight: 500 !important; border: 1px solid #000000; border-radius: 20px; margin:0px 20px 0 0 !important;}
.btn-brdr a{padding:6px 25px !important; font-weight: 500 !important; color:#606060 !important;}
.btn-fill{font-weight: 500 !important; background: #109948; border-radius: 20px; margin:0px !important;}
.btn-fill a{padding:6px 25px !important; font-weight: 500 !important; color:#fff !important;}
.welcome-section{float:left; width:100%; height: calc(100% - 167px);}
.text-box{padding:140px 0 140px; text-align:center; background-image:url(../images/searchain2.png); background-repeat: no-repeat; background-position: center center; background-size: contain;}
.text-box h4{font-family: 'Roboto', sans-serif; font-style: normal; font-weight: 500; font-size: 13px; line-height: 15px; text-transform: uppercase; color: #109948; margin-bottom: 0; margin-top: 0;}
.text-box h1{font-family: 'Roboto', sans-serif; font-style: normal; font-weight: 700; font-size: 52px; line-height: 61px; text-transform: uppercase; color: #000000; margin-top: 15px; margin-bottom: 5px;}
.text-box p{font-family: 'Roboto', sans-serif; font-style: normal; font-weight: 400; font-size: 17px; line-height: 20px; color: #000000;}
.footer-section{ float:left; width:100%; background-color:#000; padding:10px 0;}
.copyright p{margin-bottom: 0; font-family: 'Roboto', sans-serif; font-style: normal; font-weight: 400; font-size: 15px; line-height: 18px; color: #F8F8F8;}
.ftr-menu ul{float:right; padding-left:0; list-style-type:none; margin-bottom: 0;}
.ftr-menu ul li{display:inline-block;}
.ftr-menu ul li a{font-family: 'Roboto', sans-serif; font-style: normal; font-weight: 400; font-size: 15px; line-height: 18px; color: #F8F8F8;}

.navbar-toggle {background-color: #000;}
.navbar-toggle .icon-bar{background-color: #fff;}
.footer-channel {margin-bottom: 15px; margin-top: 15px;}
.footer-channel a {color: rgba(255, 255, 255, 0.6); margin: 0 10px; text-transform: uppercase; letter-spacing: 1px;}
.footer-heading {font-size: 24px; color: #fff; font-weight: 400; margin-top: 20px; }

@media only screen and (max-device-width: 768px){
	
.navbar-left { margin-left: 0;}	
.btn-brdr{display:inline-block !important; margin:20px 20px 0 20px !important;}
.btn-fill{display:inline-block !important; margin-top: 20px !important;}

.navbar-header { float: none; }
.navbar-left,.navbar-right {  float: none !important; }
.navbar-toggle { display: block;}
.navbar-collapse {  border-top: 1px solid transparent;  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); }
.navbar-fixed-top { top: 0; border-width: 0 0 1px; }
.navbar-collapse.collapse { display: none!important;}
.navbar-nav { float: none!important; margin-top: 0px; }
.navbar-nav>li { float: none;}
.navbar-nav>li>a {padding-top: 10px;padding-bottom: 10px; }
.collapse.in{ display:block !important; }
  
}

@media only screen and (max-device-width: 767px){

.navbar-left { margin: 0; margin-left: 4px;}	
.navbar-left li { margin: 0; }

.btn-brdr{display:inline-block !important; margin:20px 20px 0 20px !important;}
.btn-fill{display:inline-block !important; margin-top: 20px !important;}
.copyright{text-align: center;}
.ftr-menu ul { float: none; text-align: center; display:block; }
  
}

@media only screen and (max-device-width: 767px) and (orientation: landscape){
	
.welcome-section { height: auto; }

}