---
layout: default
bodyClass: "page-team"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="partner partner-single">
        <h1 class="title mb-0">{{page.title}}</h1>
        <small>{{page.jobtitle}}</small>
        <div class="content mt-4">{{content}}</div>
      </div>
    </div>
    <div class="col-12 col-md-4">   
      {% if page.image == blank %} 
      <img src="http://placehold.jp/150x150.png" alt="{{ page.title }}"> 
      {% else %} 
      <img src="{{ page.image  }}" alt="{{ page.title }}">
      {% endif %}

    </div>
  </div>
</div>
