---
layout: default
permalink: /partners/
title: Partners Posts
---

<div class="container">
  
  {% for post in site.categories['partners'] %}
    <article class="container">
      <h1>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {% if post.post_image %}
            <img src="{{ post.post_image }}"
                 alt="{{ post.title }}"
                 class="img-gallery"
                 style="height: 1.5em"
                 />
            {% else %}
            {{ post.title }}
            {% endif %}
          </a>
      </h1>
      <div>
        <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
      </div>
      <div class="entry">
        {{ post.excerpt }}
      </div>
    </article>
  {% endfor %}
</div>
