---
layout: default
---

        {{ content }}

        <div class="row">
          {% assign partners = site.partners  | sort: "weight" %}
          {% for partner in partners %}
          <div class="col-12 col-md-6 mb-3">
              <div class="partner partner-summary">              
                  <div class="partner-meta row">
                      <div class="image-holder col-3">
                        
                        {% if page.image == blank %} 
                        <img src="http://placehold.jp/150x150.png" alt="{{ page.title }}"> 
                        {% else %} 
                        <img src="{{ page.image  }}" alt="{{ page.title }}">
                        {% endif %}
                  
                      </div>
                      <div class="col-9">                        
                        <h2 class="partner-name"><a href="{{ partner.url | relative_url }}">{{ partner.title }}</a></h2>
                        <p class="partner-description">{{ partner.jobtitle }}</p>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}

        </div>

